fastapi
fastapi==0.115.6
numpy
numpy==2.2.1
openpyxl
openpyxl==3.1.5
pandas
pandas==2.2.3
python-multipart
python-multipart==0.0.20
uvicorn
uvicorn[standard]
uvicorn[standard]==0.34.0
scikit-learn==1.6.0
